<h1>
  Welcome student, please vote in the following section
</h1>
<form action="/logout" method="get">
  <input type="submit" value="logout"/>
</form>
<h2>
  Vote in the following Categories then submit to logout
</h2>
<h2>
  No voting was implemented
</h2>
<form action="/logoutup" method="get">
  <input type="submit" value="Submit"/>
</form>