<h1>
  Loged in a a TA
</h1>
<form action="/logout" method="get">
  <input type="submit" value="logout"/>
</form>
<form action="/uploadWeb" enctype="multipart/form-data" method="post">
  <input type="file" value="file"/>
  <input type="submit" value="upload"/>
</form>
